// Tipografia
$fuente_principal: 'Orbitron', sans-serif;

// Colores
$verde: #00e600;
$verde2: rgb(0,99,65);
$gris: #595959;
$rojo: rgba(200,16,46);
$negro: #000;
$blanco: #FFF;

// Tamaños de Media Queries
$celular: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;