@use 'base/mixins' as m;
@use 'base/variables' as v;

.sobre-festival {
    padding: 3rem 0;
    @include m.tablet {
        @include m.grid(2, 5rem)
    }
}

.contenido-festival {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;

    @include m.tablet {
        margin-top: 0;
    }
    h2 {
        margin-bottom: 2rem;
    }
    .fecha {
        color: v.$rojo;
        font-weight: 700;
    }
}
.grid {
    @include m.desktop {
        @include m.grid(2, 2rem);
    }
}

h1 {
    text-align: center;
    margin-top: 2rem;
    text-transform: uppercase;
}